{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center;">
        <h1>Bienvenue sur le site des marsupilamis</h1>

        {% if app.user is null %}
            <a href="/register">S'inscrire</a>
        {% else %}
            <a href="{{ path('marsupilami_index') }}">Entrer</a>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
