{% extends 'base.html.twig' %}

{% block body %}

    <h1>Accueil</h1>

    <p>
        <a href="{{ path('marsupilami_edit', { 'id': app.user.id }) }}">Modifier mes informations</a>
    </p>

    <h2>Mes amis</h2>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Famille</th>
            <th>Race</th>
            <th>Nourriture</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in app.user.myFriends %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.famille }}</td>
                <td>{{ user.race }}</td>
                <td>{{ user.nourriture }}</td>
                <td>{{ user.age }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('marsupilami_remove_friend', { 'id': user.id }) }}">Supprimer de mes amis</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Liste des Marsupilamis inscrits</h2>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Famille</th>
                <th>Race</th>
                <th>Nourriture</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users if user.id != app.user.id %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.famille }}</td>
                <td>{{ user.race }}</td>
                <td>{{ user.nourriture }}</td>
                <td>{{ user.age }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('marsupilami_new_friend', { 'id': user.id }) }}">Ajouter en tant qu'ami</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
