{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Famille</th>
                <td>{{ user.famille }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ user.race }}</td>
            </tr>
            <tr>
                <th>Nourriture</th>
                <td>{{ user.nourriture }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marsupilami_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('marsupilami_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
